{% extends 'base.html' %}
{% block title %}
    <title>Projects List</title>
{% endblock title %}


{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list.all.count == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <th>
                                    {{ task.start_date }}
                                </td>
                                <td>{{ task.due_date }}</td>
                                <td>
                                    {% if task.is_completed == True %}
                                        <td>done</td>
                                    {% else %}
                                        <td>
                                            <form method="post" action="{% url 'complete_task' task.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="is_completed" value="True">
                                                <button>Complete</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock content %}