{% extends 'base.html' %}
{% load markdownify %}
{% block title %}
    <title>Project Detail</title>
{% endblock title %}


{% block content %}
    <main>
        <div>
            <h1>{{project.name}}</h1>
            {{ project.description | markdownify }}
            <h2>Tasks</h2>
            <a href="{%url 'create_task'%}">Create a new task</a>
            <p>{{project.tasks_all}}</p>
            {% if project.tasks.all.count > 0%}
                <table>
                    <thead>
                        <div></div>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date}}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}