{% extends 'base.html' %}
{% block title %}
    <title>Projects List</title>
{% endblock title %}


{% block content %}
    <main>
        <div>
            <a href="{% url 'create_project' %}">Create a new project</a>
            <h1>My Projects</h1>
            {% if project_list.all.count == 0  %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    {% for project in project_list.all %}
                        <tbody>
                            <td><a href="{% url 'show_project' project.pk %}">{{project.name}}</a></td>
                            <td>{{project.tasks.count}}</td>
                        </tbody>
                    {% endfor %}
            {% endif %}
        </table>
    </div>
    </main>
{% endblock content %}